 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 


.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

 /* nav style */
 nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  

 }
 
 nav ul li{
  list-style: none;

 }
 .bg-img{
  background-image: url(../Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;


 }
 .btn-primary{
  background-color: #4E47FF ;
  font-weight:bold;
  color: #FFFFFF;
  padding: 8px 22px;
  border-radius: 10px;
  border: none;

 }
 button:hover{
  background-color:#0800f8 ;

 }
 .center-btn{
  display: block;
  margin: 0px auto;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 200px;
  
  
 }
 main{
  max-width: 1140px;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
 }
 
 .nav-title{
  font-weight:900;
  font: size 34px;
  color: #4E47FF;
  line-height: 150%;
 }
 
 /* div section */

.raleway-title{

  

  font-family: "raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size:35px;
  text-align: center;
  justify-content: center;
  color: #252432;

}
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}
.banner-content{
  
  margin: 5px 5px 5px;
  
}
.banner-title{
  font-weight: bold;
  font-size: 22px;
  font-family:"raleway" ;
}
.banner-description{
  font-family:"raleway" ;
  font-size: 11px;
  color: #5f5f67;
  padding: 10px 0px;

}
.btn-margin{
  margin-top: 8px;
}
.banner-image{
  width: 200px;
  height: 150px;
  border-radius: 20px;
}
.secondary-bg{
  background-color: #d8d8e6;
  margin: 100px 150px 100px 150px;
  height: 250px;
  border-radius: 15px;
}
.sec-title{
  font-family:"raleway";
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
  font-size: 20px;

}
.about-items{
  display: flex;
  padding-bottom: 40px;
  
  justify-content: space-around;

}
.item-title{
  font-family:"Inter" ;
  font-weight: bold;
  font-size: 40px;
  color: #0800f8;
  margin-top: 30px;
}
.item-description{
  font-family:"Inter" ;
  font-size: 12px;
  color: #909095;
  padding-bottom: 50px;
}
.feedback-title{
  font-family:"raleway";
  font-size: 30px;
  text-align: center;
  padding-bottom: 20px;

}
.feedback-container{
  display: flex;
  gap: 24px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 150px;
}
.feedback-box{
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgb(137, 132, 132);
}
.feedback-box-title{
  font-family:"raleway";
  padding-bottom: 5px;
}
.feedback-box-desc{
  font-family:"raleway";
  font-size: 10px;
  color: #838385;
}
.pic{
  height: 25px;
  width: 20px;
  padding-top: 3px;
}
.client-name{
  font-family:"raleway";
  font-size: 10px;
  color: #838385;
}
.date{
  font-family:"raleway";
  font-size: 7px;
  color: #848486;
}
.last-date{
  padding-left: 4px;
}


.review-date{
  display: flex;
  padding-top: 8px;
}
.last-section{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  padding-bottom: 100px;

}





.contact{width: 80%;
margin: 0 auto;}
.contact-heading{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content:space-between ;
  padding: 100px 0;
  
}
.contact-title{
  font-size: 97px;
  margin: auto 0;
}
.user-form label{
  font-size: 18px;
  line-height: 40px;
  padding: 40px 0;
  width: 100%;
}
.user-form input{
  border: none;
  width: 100%;
  padding: 15px;
  display: block;
  border-radius: 8px;

}
input::placeholder textarea::placeholder{
  font-size: 3px;
}
.user-form textarea{
  border: none;
  border-radius: 8px;
  width: 100%;
  opacity: 90%;box-shadow: 0 0 10px 1px rgb(211, 211, 211);

}
.btn{
  font-size: 16px;
  padding: 15px;
  margin: 10px;
  border: none;
  color: white;
  width: 100%;
  border-radius: 8px;
  background-color: #4E47FF;

}
.btn:hover{
  background-color: #0905da;
}




.footer{
  text-align: center;
  font-family:"raleway";
 
  padding-top: 100px;
  padding-bottom: 100px;
  
}
.footer-logo{
   font-family:"raleway";
   color: #0800f8;
   font-size: 50px;
   font-weight: bold;
}
.footer-pera{
  font-family:"raleway";
  font-size: 10px;
  color: #9e9e9e;
  padding-top: 10px;

}
.footer-link{
  padding-left: 475px;
  padding-top: 10px;
  
  list-style: none;
  display: flex;
  width: auto;
  gap: 30px;
}
.footer-link li a {
  text-decoration: none;
  color: #252432;
}





