 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }
 
 


.inter-logo {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}

 /* nav style */
 nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
  

 }
 
 nav ul li{
  list-style: none;

 }
 .bg-img{
  background-image: url(../Hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 300px;


 }
 .btn-primary{
  background-color: #4E47FF ;
  font-weight:bold;
  color: #FFFFFF;
  padding: 8px 22px;
  border-radius: 10px;
  border: none;

 }
 button:hover{
  background-color:#0800f8 ;

 }
 .center-btn{
  display: block;
  margin: 0px auto;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 200px;
  
  
 }
 main{
  max-width: 1140px;
  margin: 0 auto;
 }
 
 .nav-title{
  font-weight:900;
  font: size 34px;
  color: #4E47FF;
  line-height: 150%;
 }
 .section-title{


 }
 /* div section */

.raleway-title{

  

  font-family: "raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-size:35px;
  text-align: center;
  justify-content: center;
  color: #252432;

}
.banner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 100px;
}
.banner-content{
  
  margin: 5px 5px 5px;
  
}
.banner-title{
  font-weight: bold;
  font-size: 22px;
  font-family:"raleway" ;
}
.banner-description{
  font-family:"raleway" ;
  font-size: 11px;
  color: #5f5f67;
  padding: 10px 0px;

}
.btn-margin{
  margin-top: 8px;
}
.banner-image{
  width: 200px;
  height: 150px;
  border-radius: 20px;
}
.secondary-bg{
  background-color: #d8d8e6;
  margin: 100px 150px 100px 150px;
  height: 250px;
  border-radius: 15px;
}
.sec-title{
  font-family:"raleway";
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
  font-size: 20px;

}
.about-items{
  display: flex;
  padding-bottom: 40px;
  
  justify-content: space-around;

}
.item-title{
  font-family:"Inter" ;
  font-weight: bold;
  font-size: 40px;
  color: #0800f8;
  margin-top: 30px;
}
.item-description{
  font-family:"Inter" ;
  font-size: 12px;
  color: #909095;
  padding-bottom: 50px;
}